<md-content class="md-padding" layout-xs="column" layout="row">
<div flex-xs flex-gt-xs="50" layout="column" class="margin-horiz">
  <a href="//organizer.guclink.in">
     <md-card>
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Organizer</span>
           <span class="md-subhead">Manager your calendar</span>
         </md-card-title-text>
         <md-card-title-media>
           <img class="md-media-sm card-media" src="images/guclink_organizer_logo.png"/>
         </md-card-title-media>
       </md-card-title>
     </md-card>
   </a>

   <a href="//attendance.guclink.in">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Atendance</span>
            <span class="md-subhead">Automated Attendance</span>
          </md-card-title-text>
          <md-card-title-media>
            <img class="md-media-sm card-media" src="images/coming_soon.png"/>
          </md-card-title-media>
        </md-card-title>
      </md-card>
    </a>

    <a href="//parking.guclink.in">
       <md-card>
         <md-card-title>
           <md-card-title-text>
             <span class="md-headline">Parking</span>
             <span class="md-subhead">Campus Parking</span>
           </md-card-title-text>
           <md-card-title-media>
             <img class="md-media-sm card-media" src="images/coming_soon.png"/>
           </md-card-title-media>
         </md-card-title>
       </md-card>
     </a>

     <a href="//class.guclink.in">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">In Class tools</span>
              <span class="md-subhead">Augmented teaching</span>
            </md-card-title-text>
            <md-card-title-media>
              <img class="md-media-sm card-media" src="images/coming_soon.png"/>
            </md-card-title-media>
          </md-card-title>
        </md-card>
      </a>

      <a href="//exam.guclink.in">
         <md-card>
           <md-card-title>
             <md-card-title-text>
               <span class="md-headline">Exams</span>
               <span class="md-subhead">Automated Exams</span>
             </md-card-title-text>
             <md-card-title-media>
               <img class="md-media-sm card-media" src="images/coming_soon.png"/>
             </md-card-title-media>
           </md-card-title>
         </md-card>
       </a>

       <a href="//nav.guclink.in">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Navigation</span>
                <span class="md-subhead">In Campus Navigation</span>
              </md-card-title-text>
              <md-card-title-media>
                <img class="md-media-sm card-media" src="images/coming_soon.png"/>
              </md-card-title-media>
            </md-card-title>
          </md-card>
        </a>
</div>
</md-content>
