<md-content>
  <header class="status-header">
    <h3>API Status</h3>
  </header>
  <md-list flex>
    <status data-promise="authStatusPromise" data-service-name="Authentication"></status>
    <status data-promise="organizerStatusPromise" data-service-name="Organizer"></status>
    <status data-promise="attendanceStatusPromise" data-service-name="Attendance"></status>
    <status data-promise="navStatusPromise" data-service-name="Navigation"></status>
    <status data-promise="classStatusPromise" data-service-name="Class"></status>
    <status data-promise="examStatusPromise" data-service-name="Exam"></status>
    <status data-promise="parkingStatusPromise" data-service-name="Parking"></status>
    <status data-promise="dataStatusPromise" data-service-name="Data"></status>
  </md-list>
</md-content>
