<nav class="flip-nav">
  <ul>
    <li data-ui-sref-active="active">
      <a data-ui-sref="home"><i class="material-icons">dashboard</i></a>
    </li>
    <li data-ui-sref-active="active">
      <a data-ui-sref="status"><i class="material-icons">equalizer</i></a>
    </li>
    <li data-ui-sref-active="active">
      <a href="//auth.guclink.in"><i class="material-icons">person_outline</i></a>
    </li>
    <li data-ui-sref-active="active">
      <a data-ui-sref="about"><i class="material-icons">info_outline</i></a>
    </li>
  </ul>
</nav>
