
.status-progress {
  display: inline-block;
}

.status-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;


  &:not(.okay).partial{
    background-color: yellow;
  }

  &.okay {
    background-color: green;
  }
}

.status-header {
  width: 100%;
  text-align: center;
  padding: 1em;
}

.status-list {
  margin: 2em auto 0;
  width: 50%;
}

.status-item {
  display: inline-block;
  padding: 1em;
  width: 100%;
}
